/* This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program. If not, see https://www.gnu.org/licenses/. */

html.admin {
    --menu_color: #ef6e30;
    --menu_color_n1: #f2783e;
    --menu_color_n2: #ff8244;
    --menu_color_n3: #fc864b;
    --page_color: #1d82bc;
    --page_color_n1: #2e94cf;
    --anchor_color: #1d82bc;
    --anchor_color_n1: #2e94cf;
    --outline_color: #1d82bc77;

    --block_rounding: 0px;
    --widget_rounding: 0px;
    --button_rounding: 3px;
}
