/* This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program. If not, see https://www.gnu.org/licenses/. */

html.instance {
    --menu_color: #262626;
    --menu_color_n1: #38383b;
    --menu_color_n2: #4a494d;
    --menu_color_n3: #525155;
    --page_color: #24579d;
    --page_color_n1: #346bb8;
    --anchor_color: #fe7735;
    --anchor_color_n1: #ff9059;
    --outline_color: #fe773577;

    --block_rounding: 0px;
    --widget_rounding: 0px;
    --button_rounding: 3px;
}

/* -------------------- Layout -------------------- */

#ins_page {
    box-sizing: border-box;
    margin: 0;
    padding-top: 6px;
    width: 100%;
    border: 12px solid white;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#ins_form {
    width: 100%;
    max-width: 1080px;

    --anchor_color: #fe7735;
    --anchor_color_n1: #ff864b;
    --outline_color: #00adff;
}

html.mobile #ins_page { padding-top: 0; }

/* -------------------- Main menu -------------------- */

#ui_top.locked { filter: invert(100%); }

html.small #ins_drop > button { max-width: 300px; }
html.mobile #ins_drop > button { max-width: 200px; }

/* -------------------- Left menu -------------------- */

#ins_menu {
    display: none;
    position: sticky;
    top: 18px;
    align-self: flex-start;
    box-sizing: border-box;
    width: 240px;
    padding-right: 12px;
    font-size: 1.1em;
}
#ins_menu h1 {
    font-size: 1.1em;
    margin: 0 0 6px 0;
    font-weight: bold;
    color: var(--anchor_color_n1);
}
#ins_menu * + h1 { margin-top: 10px; }
#ins_menu ul {
    margin: 0;
    padding: 0;
}
#ins_menu li {
    list-style: none;
    display: flex;
    margin-top: 1px;
}
#ins_menu li::before {
    content: '–';
    color: #ccc;
}
#ins_menu li > * { padding: 0 5px; }
#ins_menu ul a {
    display: flex;
    flex: 1;
    margin-left: 3px;
    padding: 1px calc(5px + var(--widget_rounding) / 4);
    text-decoration: none;
    color: black;
    border-radius: var(--widget_rounding);
}
#ins_menu ul a.active, #ins_menu ul a:hover {
    background: linear-gradient(var(--anchor_color_n1), var(--anchor_color));
    color: white;
}
#ins_menu hr {
    margin: 10px 0;
    border: 0;
    border-top: 1px solid #dfdfdf;
}

#ins_actions {
    display: none;
    position: sticky;
    top: 18px;
    align-self: flex-start;
    box-sizing: border-box;
    width: 220px;
    padding-left: 12px;
}
#ins_actions > hr {
    margin: 10px;
    border: 0;
    border-top: 1px solid #dfdfdf;
}
#ins_actions > button { width: 100%; }
#ins_actions > button + button { margin-top: 6px; }

html:not(.small) #ui_panels > div:only-child #ins_menu { display: block; }
html:not(.small) #ui_panels > div:only-child #ins_actions { display: block; }

/* -------------------- Bottom bar -------------------- */

#ins_tasks {
    display: none;
    filter: invert(100%);
    color: #d9d9d9;
}
#ins_tasks > .hid { font-weight: bold; }
html.small #ins_tasks {
    display: flex;
    bottom: 0;
    background: #070707;
}
html:not(.small) #ui_panels > div:not(:only-child) #ins_tasks {
    display: flex;
    bottom: 0;
    background: #070707;
    border: 12px solid black;
}
html.small #ins_page { border-bottom-width: calc(2.8em + 12px); }
html:not(.small) #ui_panels > div:not(:only-child) #ins_page { border-bottom-width: calc(2.8em + 2 * 12px); }

/* -------------------- Misc -------------------- */

html.mobile #ui_top .ins_hid { display: none; }
.ins_hid > .historical {
    font-size: 0.5em;
    padding: 1px 3px;
    border-radius: 2px;
    background: #db0a0a;
}

.ins_note {
    padding: 0px 2px;
    border-radius: 2px;
    font-size: 0.6em;
    background: red;
    color: white;
}

#ins_develop {
    display: block;
    position: sticky;
    left: calc(50% - 160px);
    bottom: 18px;
    width: 320px;
    padding: 6px 9px;
    background: #db0a0a;
    color: white;
    text-align: center;
    z-index: 9999999;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}
#ins_develop::before {
    content: '⚠\FE0E';
    padding-right: 3px;
}
@media (hover: hover) {
    #ins_develop:hover { filter: opacity(20%); }
}

#ins_data td:not(.active).saved a { color: #21936e; }
#ins_data td.saved a::before {
    padding-right: 8px;
    font-size: 0.9em;
    font-weight: bold;
    content: '✓\FE0E';
}

.ins_highlight {
    outline: 2px dotted #24579d;
    outline-offset: 2px;
}

/* -------------------- Deploy dialog -------------------- */

.ins_deploy td.actions { text-align: center; }
.ins_deploy td.actions > a { padding: 0 6px 0 6px; }
.ins_deploy td.actions > a.active {
    background: var(--anchor_color);
    border-radius: 50%;
    color: white;
    pointer-events: none;
}

.ins_deploy td.path { text-align: left; }
.ins_deploy td.path.overwrite {
    color: red;
    font-style: italic;
}
.ins_deploy td.path.delete {
    font-style: italic;
    text-decoration: line-through;
}
.ins_deploy td.path.virtual { color: #ccc; }

.ins_deploy td.size {
    color: #999;
    text-align: right;
    font-style: italic;
}
.ins_deploy span.conflict {
    font-style: normal;
    color: red;
}

/* -------------------- Print -------------------- */

@media print {
    #ins_menu { display: none !important; }
    #ins_actions { display: none !important; }
    #ins_develop { display: none !important; }
}
