/* This program is free software: you can redistribute it and/or modify
   it under the terms of the GNU Affero General Public License as published by
   the Free Software Foundation, either version 3 of the License, or
   (at your option) any later version.

   This program is distributed in the hope that it will be useful,
   but WITHOUT ANY WARRANTY; without even the implied warranty of
   MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
   GNU Affero General Public License for more details.

   You should have received a copy of the GNU Affero General Public License
   along with this program. If not, see https://www.gnu.org/licenses/. */

/* -------------------- Global style and layout -------------------- */

html { height: 100%; }
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    line-height: 1.5;
    color: #202020;
}
#ui_root, #ui_main { height: 100%; }
@media (pointer: coarse) {
    body { font-size: 15px; }
}

/* -------------------- Base elements -------------------- */

a {
    color: var(--anchor_color);
    text-decoration: underline;
}

*:focus, *:focus + label {
    outline: 1px solid var(--outline_color);
    z-index: 99999;
}

button {
    padding: 0.3em 10px;
    background: white;
    border: 1px solid #dfdfdf;
    color: black;
    font-family: inherit;
    font-size: 1em;
    cursor: pointer;
    border-radius: var(--button_rounding);
}
button.color {
    background: var(--color);
    border: 1px solid var(--color);
    color: white;
}
button:not(:disabled) { cursor: pointer; }
button:disabled {
    background-color: #bbb;
    border-color: #bbb;
    color: #eee;
    cursor: not-allowed;
}
button::-moz-focus-inner { border: 0; }
button:not(:disabled):hover { border-color: var(--anchor_color); }
@media (pointer: fine) {
    button:not(:disabled):hover {
        background-color: var(--anchor_color);
        color: white;
    }
}

/* -------------------- Toolbars -------------------- */

.ui_toolbar {
    position: sticky;
    left: 0;
    top: 0;
    height: 2.8em;
    min-height: 2.8em;
    display: flex;
    background: linear-gradient(var(--menu_color_n1), var(--menu_color));
    color: white;
    z-index: 9999;

    --outline_color: var(--menu_color_n3);
}

.ui_toolbar *:focus, .ui_toolbar *:focus + label {
    outline-width: 2px;
    outline-style: dotted;
}

.ui_toolbar button {
    display: block;
    height: 100%;
    box-sizing: border-box;
    background-color: inherit;
    border: 0;
    color: inherit;
    text-decoration: none;
    border-radius: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.1em;
    line-height: 1em;
}
.ui_toolbar button.active { background-color: var(--menu_color_n2); }
.ui_toolbar button:not(.active):hover { background-color: var(--menu_color_n1); }
.ui_toolbar button.active:hover { background-color: var(--menu_color_n3); }
.ui_toolbar button:disabled {
    background-color: var(--menu_color_n3) !important;
    color: #888;
}
.ui_toolbar button.icon {
    padding-left: 36px;
    background-image: url('icons.png');
    background-repeat: no-repeat;
    background-size: 22px 726px;
    background-position-x: 6px;
}
.ui_toolbar > hr {
    border: none;
    border-left: 0.5px solid var(--menu_color_n3);
}
html.small .ui_toolbar button.icon {
    min-width: 3em;
    max-width: 3em;
    padding: 0 !important;
    text-indent: 200px;
    text-overflow: clip;
    background-position-x: center;
}
.ui_toolbar button.icon:empty { background-position-x: center; }

.ui_toolbar > .drop {
    position: relative;
    display: inline-block;
    height: 100%;
    margin: 0;
    background-color: inherit;
}
.ui_toolbar > .drop > button { padding-right: 24px; }
.ui_toolbar > .drop > button::after {
    position: absolute;
    right: 2px;
    top: 9px;
    width: 22px;
    height: 16px;
    background-image: url('icons.png');
    background-repeat: no-repeat;
    background-size: 22px 726px;
    background-position: 1px calc(-591px + 1.2em);
    content: ' ';
}
.ui_toolbar > .drop.disabled {
    background-color: #bbb;
    border-color: #bbb;
    filter: brightness(80%) !important;
}
.ui_toolbar > .drop.disabled > button:disabled {
    color: inherit;
    cursor: not-allowed;
    pointer-events: none;
}
.ui_toolbar > .drop > div {
    display: none;
    position: absolute;
    max-height: calc(100vh - 6em);
    overflow: auto;
    min-width: 220px;
    background-color: inherit;
    z-index: 9999;
}
.ui_toolbar > .drop.up > button::after { background-position: 1px calc(-107px + 1.2em); }
.ui_toolbar > .drop.up > div { bottom: 100%; }
.ui_toolbar > .drop.right > div { right: 0; }
.ui_toolbar > .drop > div button {
    height: 2.4em;
    min-height: 2.4em;
    text-align: left;
}
.ui_toolbar > .drop > div hr {
    width: 94%;
    border: none;
    border-top: 0.5px solid var(--menu_color_n3);
    height: 3px;
}
.ui_toolbar > .drop > div hr:first-child,
    .ui_toolbar > .drop > div hr:last-child { display: none; } 
.ui_toolbar > .drop.active { background-color: var(--menu_color_n1); }
.ui_toolbar > .drop.active > div {
    display: flex;
    flex-direction: column;
}
.ui_toolbar > .drop > div button:not(.active):hover { background-color: var(--menu_color_n2); }
html.small .ui_toolbar > .drop > button.icon::after { display: none; }

.ui_toolbar .expand {
    display: flex;
    flex-direction: column;
}
.ui_toolbar .expand > button::before {
    padding-right: 3px;
    content: '+';
    color: #ccc;
}
.ui_toolbar .expand > div { display: none; }
.ui_toolbar .expand.active > div {
    display: flex;
    flex-direction: column;
    font-size: 0.9em;
}
.ui_toolbar .expand > div > button {
    display: flex;
    font-style: italic;
    background: var(--menu_color_n2);
    align-items: center;
}
.ui_toolbar .expand > div > button::before {
    padding-left: 6px;
    padding-right: 3px;
    content: '–';
    color: #ccc;
}
.ui_toolbar .expand > div > button.active { background-color: var(--menu_color_n3); }
.ui_toolbar .expand > div > button:not(.active):hover { background-color: var(--menu_color_n3); }

/* -------------------- Panels -------------------- */

#ui_panels {
    height: calc(100% - 2.8em);
    display: flex;
}
#ui_panels > div {
    position: relative;
    flex: 1;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
#ui_panels > div.padded { padding: 2em; }
#ui_panels > div.padded::after {
    display: block;
    min-height: 2em;
    content: "";
}

.ui_pin {
    position: absolute !important;
    right: 2px;
    top: 2px;
    width: 3em;
    height: 3em;
    border: none;
    padding: 0px;
    background-color: inherit;
    background-image: url('icons.png');
    background-repeat: no-repeat;
    background-size: 22px 726px;
    background-position: center calc(-52px + 1.2em);
}
.ui_pin:hover, .ui_pin.active {
    background-color: var(--anchor_color);
    background-position-y: calc(-624px + 1.2em);
}

/* -------------------- Dialogs and popups -------------------- */

.ui_dialog.screen, .ui_dialog.modal {
    display: none;
    position: fixed;
    left: 0;
    top: 0;
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    justify-content: center;
    align-items: center;
}
.ui_dialog.screen { background: white; }
.ui_dialog.modal { background: rgba(255, 255, 255, 0.9); }
.ui_dialog.screen.active, .ui_dialog.modal.active { display: flex; }
.ui_dialog.screen > div, .ui_dialog.modal > div {
    display: block;
    min-width: 280px;
    max-height: calc(100% - 20px);
    box-sizing: border-box;
    overflow-y: auto;
    background: #f8f8f8;
}
.ui_dialog.modal > div > form, .ui_dialog.screen > div > form { padding: 16px; }
.ui_dialog.modal > div { border: 1px solid #e6e6e6; }
.ui_dialog.fixed > div { max-width: 280px; }

.ui_dialog.popup {
    display: none;
    position: fixed;
    box-sizing: border-box;
    max-height: calc(100% - 20px);
    min-width: 280px;
    box-sizing: border-box;
    overflow-y: auto;
    background: #f8f8f8;
    border: 1px solid #e6e6e6;
    box-shadow: 2px 2px rgba(136, 136, 136, 0.12);
}
.ui_dialog.popup.active { display: block; }
.ui_dialog.popup > div > form { padding: 8px; }

.ui_legend {
    padding: 0.2em 0.5em;
    background: #e6e6e6;
    font-size: 1.1em;
    color: #555;
    text-align: center;
}

/* -------------------- Tables -------------------- */

.ui_quick {
    display: flex;
    margin: 2px 0 4px 0;
    font-size: 0.9em;
    color: #777;
    align-items: flex-end;
}
.ui_table + .ui_quick { margin-top: 4px; }
.ui_quick input {
    padding: 3px 4px;
    background: white;
    border: 1px solid #ccc;
    border-width: 0.5px;
    font-size: 0.9em;
    width: 12em;
}

.ui_table {
    width: 100%;
    border-collapse: collapse;
    border-radius: var(--widget_rounding);
}
.ui_table.fixed { table-layout: fixed; }
.ui_table thead th { background: #f8f8f8; }
.ui_table tbody tr:nth-child(2n) > td, .ui_table tbody tr:nth-child(2n) > th { background: #f8f8f8; }
.ui_table tbody tr:nth-child(2n + 1) > td, .ui_table tbody tr:nth-child(2n + 1) > th { background: white; }
.ui_table th, .ui_table td {
    padding: 3px 6px;
    text-align: center;
    border: 1px solid #dfdfdf;
}
.ui_table.fixed td, .ui_table.fixed th {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.ui_table td { border: 1px solid #dfdfdf; }
.ui_table a { text-decoration: none; }
.ui_table tbody tr.active > td, .ui_table tbody tr td.active {
    background: var(--anchor_color);
    color: white;
}
.ui_table tbody tr.active td a, .ui_table tbody td.active a { color: inherit; }
.ui_table .ui_table:not(:first-child) td { border-top: 0; }
.ui_table td.missing {
    color: #777;
    font-style: italic;
}

.ui_table td.child::before {
    content: ' ';
    display: inline-block;
    width: 12px;
    height: 10px;
    vertical-align: top;
    margin-top: 2px;
    border-left: 1px dotted #ccc;
    border-bottom: 1px dotted #ccc;
}

/* -------------------- Actions -------------------- */

.ui_actions {
    width: 75%;
    max-width: 340px;
    margin: 0 auto;
}
.ui_actions:empty { display: none; }
.ui_actions > button {
    display: block;
    width: 100%;
    padding: 0.3em 22px;
}
.ui_actions > button + button { margin-top: 6px; }
.ui_actions > hr {
    border: none;
    border-top: 1px solid #efefef;
    border-top-width: 0.5px;
}

/* -------------------- Notifications -------------------- */

#ui_log {
    position: fixed;
    left: calc(50% - 160px);
    top: calc(2.8em + 12px);
    width: 320px;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

#ui_log > div {
    margin-bottom: 8px;
    padding: 8px;
    background: #373737;
    color: white;
    box-shadow: 1px 1px rgba(0, 0, 0, 0.5);
    text-align: center;
    filter: opacity(96%);
}
@media (hover: hover) {
    #ui_log > div:hover { filter: opacity(40%); }
}
#ui_log > div.error { background: #db0a0a; }
#ui_log > div.success { background: #2d8261; }

.ui_log_close {
    float: right;
    padding: 2px 6px;
    background: none;
    border: 0;
    color: white;
    font-weight: bold;
}
.ui_log_close:hover { background: none !important; }

/* Came from https://loading.io/css/ */
.ui_log_spin {
    float: left;
    display: inline-block;
    box-sizing: border-box;
    width: 20px;
    height: 20px;
    margin: -1px 0 0 -1px;
}
.ui_log_spin::after {
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin: 1px;
    border-radius: 50%;
    border: 4px solid white;
    border-color: white transparent white transparent;
    animation: ui_log_spin 0.8s ease-in-out infinite;
}
@keyframes ui_log_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* -------------------- Utility -------------------- */

.ui_busy {
    position: relative;
    cursor: wait !important;
    opacity: 0.5 !important;
    white-space: nowrap !important;
    color: rgba(0, 0, 0, 0) !important;
    background-image: none !important;
}
.ui_busy::after {
    position: absolute;
    top: calc(50% - 10px);
    left: calc(50% - 10px);
    content: ' ';
    display: block;
    width: 12px;
    height: 12px;
    margin: 1px;
    border-radius: 50%;
    border: 3px solid white;
    border-color: white transparent white transparent;
    animation: ui_busy_spin 0.8s ease-in-out infinite;
}
@keyframes ui_busy_spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.ui_tag {
    display: inline-block;
    padding: 0px 4px;
    border-radius: 4px;
    color: white;
    font-size: 0.9em;
    white-space: nowrap;
}

/* -------------------- Print -------------------- */

@media print {
    *:focus { outline: none !important; }

    .ui_toolbar { display: none !important; }
    #ui_panels > div:not(.print) { display: none  !important; }
    #ui_panels > div.print { overflow: visible !important; }

    .ui_actions { display: none !important; }
}
